.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
  color: rgb(10, 10, 10);
  background-color: rgb(226, 226, 241);
  font-family: sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 100;
  min-width: 100%;
  min-height: 80%;
}

.video-content {
  position: fixed;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.116); */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.welcome {
  padding-top: 20px;
  text-align: center;
  top:450px;
}

h1 {
  color:  #050505;
  /* text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white; */
  text-align: center;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containers {
  /* width: 300px;
  height: 500px; */
  margin: 10px;
  /* background-color: #0dff00; */
  border-radius: 10px;
}

.container img {
  width: 280px;
  height: 280px;
}

.show img {
  width: 350px;
  height: 300px;
  /* width: 100%; */
  /* object-fit: cover; */
}


textarea {
  width: 80%;
  font-size: .8em;
  height: 6em;
  border-radius: 10px;
}

.errors {
  list-style: none;
  color: yellow;
  padding-left: 0;
}
